<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

<h1>All products</h1>
<table border="1">
    <tr>
        <td>Title</td>
        <td>Price</td>
    </tr>
    <tr>
        <td><p th:each="product : ${products}" th:text="${product.name}"/></td>
        <td><p th:each="product : ${products}" th:text="${product.price}"/></td>
    </tr>
</table>
<form action="#" th:action="@{/products/maxupprice}" method="post">
    <button type="submit">Sort Up</button>
</form>
<form action="#" th:action="@{/products/minupprice}" method="post">
    <button type="submit">Sort Down</button>
</form>
</body>
</html>