<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Some Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{menu :: #nav-menu}"></div>
<!--<span th:if="${user.size() == 0}">Products List is empty</span>-->
<!--<table th:if="${user.size() > 0}" class="table table-hover">-->
<!--    <thead class="thead-dark">-->
<table border="1">
    <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Age</td>
        <td>Date</td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}">Koko</td>
        <td th:text="${user.email}">koko@email</td>
        <td th:text="${user.age}">123</td>
        <!--<td th:text="${@dateFormatter.format(user.date,#locale)}">22.12.2000</td>-->
        <td th:text="${{user.date}}">22.12.2000</td>
    </tr>
</table>

<form action="#" th:action="@{/users}" th:object="${user}" method="post">
    <input type="text" th:field="*{name}">
    <input type="email" th:field="*{email}">
    <input type="text" th:field="*{{date}}">
    <button type="submit">Save</button>
</form>

</body>
</html>